<div data-controller="sheet">
  <div class="flex flex-col align-bottom gap-4">
    <h1 class="font-black text-4xl">Creation</h1>

    <%#
      We just use the turbo_frame for conditional form select population, the sheet is handled with JS
    %>

    <%= turbo_frame_tag "form" do %>
      <%= form_tag creation_sheet_path, method: :get, data: { controller: "dropdown", action: "change->dropdown#submit", 'sheet-target': 'maindrop' } do %>
        <%= select_tag :race, options_from_collection_for_select(@races, "id", "name", @race&.id), prompt: "- Race -", data: { action: "change->sheet#categoryHandler", "sheet-url-param": "/races/" } %>
        <%= select_tag :subrace, options_from_collection_for_select(@subraces, "id", "name", @subrace&.id), prompt: "- Subrace -", data: { action: "change->sheet#categoryHandler", "sheet-url-param": "/subraces/" } %>
        <%= select_tag :player_class, options_from_collection_for_select(@player_classes, "id", "name", @player_class&.id), prompt: "- Class -", data: { action: "change->sheet#categoryHandler", "sheet-url-param": "/player_classes/"} %>
        <%= select_tag :subclass, options_from_collection_for_select(@subclasses, "id", "name", @subclass&.id), prompt: "- Subclass -", data: { action: "change->sheet#categoryHandler", "sheet-url-param": "/subclasses/"} %>
        <%= select_tag :background, options_from_collection_for_select(@backgrounds, "id", "name", @background&.id), prompt: "- Background -", data: { action: "change->sheet#categoryHandler", "sheet-url-param": "/backgrounds/"} %>
        <%= select_tag :level, options_for_select(@levels, @level), prompt: "- Level -", data: { "sheet-target": "charLevel", action: "change->sheet#categoryHandler" } %>
      <% end %>
    <% end %>

  </div>
  <div class="flex items-center justify-start gap-4 px-24 py-4" id="statbuttons">
    <button class="px-8 py-2 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#randomStats">Random Stats</button>
    <button class="px-8 py-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showLangDialog" data-sheet-target="langButton">Extra Languages</button>
    <button class="px-8 py-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showClassSkillsDialog" data-sheet-target="classSkillsButton">Class Skills</button>
    <button class="px-8 py-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showToolsDialog" data-sheet-target="toolsButton">Racial Tools</button>
    <button class="px-8 py-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showSubclassFeaturesDialog" data-sheet-target="subclassButton">Subclass Features</button>
  </div>
  <section class="flex flex-col" id="sheet">
    <div class="flex">
      <div class="flex flex-col gap-2 border-2 border-green-300 w-1/3" id="firstcolumn">

        <p><span class="sheetcell" data-sheet-target="charName"></span>Character Name</p>
        <p><span class="sheetcell" data-sheet-target="profBonus"></span>Proficiency bonus</p>
        <p><span class="sheetcell" data-sheet-target="passPerception"></span>Passive Perception</p>

        <div class="flex align-center" id ="strblock">
          <div class="statframe">
            <div class="base-statbox">
               <div class="text-sm border border-black rounded-full" data-sheet-target="strBase"></div>
               <div data-sheet-target="strMod"></div>
            </div>
            <p>STRENGTH</p>
          </div>
          <div class="prof-list">
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="strSavingThrowMod"></div>
              <p class="text-xs font-semibold text-center">Save</p>
              <div class="proficiency-box" data-sheet-target="strSaveProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="athleticsMod"></div>
              <p class="text-xs font-semibold text-center">Athletics</p>
              <div class="proficiency-box" data-sheet-target="athleticsProf"></div>
            </div>
          </div>
        </div>

        <div class="flex align-center" id ="dexblock">
          <div class="statframe">
            <div class="base-statbox">
               <div class="text-sm border border-black rounded-full" data-sheet-target="dexBase"></div>
               <div data-sheet-target="dexMod"></div>
            </div>
            <p>DEXTERITY</p>
          </div>
          <div class="prof-list">
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="dexSavingThrowMod"></div>
              <p class="text-xs font-semibold text-center">Save</p>
              <div class="proficiency-box" data-sheet-target="dexSaveProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="acrobaticsMod"></div>
              <p class="text-xs font-semibold text-center">Acrobatics</p>
              <div class="proficiency-box" data-sheet-target="acrobaticsProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="sleightOfHandMod"></div>
              <p class="text-xs font-semibold text-center">Sleight of Hand</p>
              <div class="proficiency-box" data-sheet-target="sleightOfHandProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="stealthMod"></div>
              <p class="text-xs font-semibold text-center">Stealth</p>
              <div class="proficiency-box" data-sheet-target="stealthProf"></div>
            </div>
          </div>
        </div>

        <div class="flex align-center" id ="conblock">
          <div class="statframe">
            <div class="base-statbox">
               <div class="text-sm border border-black rounded-full" data-sheet-target="conBase"></div>
               <div data-sheet-target="conMod"></div>
            </div>
            <p>CONSTITUTION</p>
          </div>
          <div class="prof-list">
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="conSavingThrowMod"></div>
              <p class="text-xs font-semibold text-center">Save</p>
              <div class="proficiency-box" data-sheet-target="conSaveProf"></div>
            </div>
          </div>
        </div>

        <div class="flex align-center" id ="intblock">
          <div class="statframe">
            <div class="base-statbox">
               <div class="text-sm border border-black rounded-full" data-sheet-target="intBase"></div>
               <div data-sheet-target="intMod"></div>
            </div>
            <p>INTELLIGENCE</p>
          </div>
          <div class="prof-list">
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="intSavingThrowMod"></div>
              <p class="text-xs font-semibold text-center">Save</p>
              <div class="proficiency-box" data-sheet-target="intSaveProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="arcanaMod"></div>
              <p class="text-xs font-semibold text-center">Arcana</p>
              <div class="proficiency-box" data-sheet-target="arcanaProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="historyMod"></div>
              <p class="text-xs font-semibold text-center">History</p>
              <div class="proficiency-box" data-sheet-target="historyProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="investigationMod"></div>
              <p class="text-xs font-semibold text-center">Investigation</p>
              <div class="proficiency-box" data-sheet-target="investigationProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="natureMod"></div>
              <p class="text-xs font-semibold text-center">Nature</p>
              <div class="proficiency-box" data-sheet-target="natureProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="religionMod"></div>
              <p class="text-xs font-semibold text-center">Religion</p>
              <div class="proficiency-box" data-sheet-target="religionProf"></div>
            </div>
          </div>
        </div>

        <div class="flex align-center" id ="wisblock">
          <div class="statframe">
            <div class="base-statbox">
               <div class="text-sm border border-black rounded-full" data-sheet-target="wisBase"></div>
               <div data-sheet-target="wisMod"></div>
            </div>
            <p>WISDOM</p>
          </div>
          <div class="prof-list">
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="wisSavingThrowMod"></div>
              <p class="text-xs font-semibold text-center">Save</p>
              <div class="proficiency-box" data-sheet-target="wisSaveProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="animalHandlingMod"></div>
              <p class="text-xs font-semibold text-center">Animal Handling</p>
              <div class="proficiency-box" data-sheet-target="animalHandlingProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="insightMod"></div>
              <p class="text-xs font-semibold text-center">Insight</p>
              <div class="proficiency-box" data-sheet-target="insightProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="medicineMod"></div>
              <p class="text-xs font-semibold text-center">Medicine</p>
              <div class="proficiency-box" data-sheet-target="medicineProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="perceptionMod"></div>
              <p class="text-xs font-semibold text-center">Perception</p>
              <div class="proficiency-box" data-sheet-target="perceptionProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="survivalMod"></div>
              <p class="text-xs font-semibold text-center">Survival</p>
              <div class="proficiency-box" data-sheet-target="survivalProf"></div>
            </div>
          </div>
        </div>

        <div class="flex align-center" id ="chablock">
          <div class="statframe">
            <div class="base-statbox">
               <div class="text-sm border border-black rounded-full" data-sheet-target="chaBase"></div>
               <div data-sheet-target="chaMod"></div>
            </div>
            <p>CHARISMA</p>
          </div>
          <div class="prof-list">
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="chaSavingThrowMod"></div>
              <p class="text-xs font-semibold text-center">Save</p>
              <div class="proficiency-box" data-sheet-target="chaSaveProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="deceptionMod"></div>
              <p class="text-xs font-semibold text-center">Deception</p>
              <div class="proficiency-box" data-sheet-target="deceptionProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="intimidationMod"></div>
              <p class="text-xs font-semibold text-center">Intimidation</p>
              <div class="proficiency-box" data-sheet-target="intimidationProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="performanceMod"></div>
              <p class="text-xs font-semibold text-center">Performance</p>
              <div class="proficiency-box" data-sheet-target="performanceProf"></div>
            </div>
            <div class="prof-row">
              <div class="modifier-box" data-sheet-target="persuasionMod"></div>
              <p class="text-xs font-semibold text-center">Persuasion</p>
              <div class="proficiency-box" data-sheet-target="persuasionProf"></div>
            </div>
          </div>
        </div>


      </div>
      <div class="flex flex-col gap-2 border-2 border-green-300 w-2/3" id="secondcolumn">
        <div class="flex flex-col border-2 border-blue-400 text-center p-2" id="about">
          <div class="flex w-full justify-center gap-2">
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutClass"></p>
              <p class="text-xs mx-2">CLASS</p>
            </div>
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutSubclass"></p>
              <p class="text-xs mx-2">SUBCLASS</p>
            </div>
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutLevel"></p>
              <p class="text-xs mx-2">LEVEL</p>
            </div>
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutBackground"></p>
              <p class="text-xs mx-2">BACKGROUND</p>
            </div>
          </div>
          <div class="flex w-full justify-center gap-2">
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutRace"></p>
              <p class="text-xs mx-2">RACE</p>
            </div>
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutSubrace"></p>
              <p class="text-xs mx-2">SUBRACE</p>
            </div>
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutAlignment"></p>
              <p class="text-xs mx-2">ALIGNMENT</p>
            </div>
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutExperiencePoints"></p>
              <p class="text-xs mx-2">EXPERIENCE POINTS</p>
            </div>
          </div>
        </div>
        <div class="flex gap-4 border-2 border-blue-400 text-center justify-around" id="substats">
          <div class="tracking-box">
              <p class="sheetcell" data-sheet-target="substatAC"></p>
              <p class="text-xs mx-2">AC</p>
          </div>
          <div class="tracking-box">
              <p class="sheetcell" data-sheet-target="substatInitiative"></p>
              <p class="text-xs mx-2">Initiative</p>
          </div>
          <div class="tracking-box">
              <p class="sheetcell" data-sheet-target="substatSpeed"></p>
              <p class="text-xs mx-2">Speed</p>
          </div>
          <div class="tracking-box">
              <p class="sheetcell" data-sheet-target="substatInspiration"></p>
              <p class="text-xs mx-2">Inspiration</p>
          </div>
        </div>
          <div class="flex gap-2 justify-center border-2 border-teal-300" id="playtracking">
            <div class="tracking-box">
              <p class="sheetcell" data-sheet-target="trackingMaxHP"></p>
              <p class="text-xs mx-2">MAX HP</p>
              <p class="sheetcell" data-sheet-target="trackingCurrentHP"></p>
              <p class="text-xs mx-2">CURRENT HP</p>
            </div>
            <div class="tracking-box">
              <p class="sheetcell" data-sheet-target="trackingTemporaryHP"></p>
              <p class="text-xs mx-2">TEMPORARY HP</p>
            </div>
            <div class="tracking-box">
              <p class="sheetcell" data-sheet-target="trackingHitDice"></p>
              <p class="text-xs mx-2">HIT DICE</p>
            </div>
            <div class="tracking-box">
              <p class="sheetcell" data-sheet-target="trackingDeathSaveSuccess"></p>
              <p class="text-xs mx-2">SUCCESSES</p>
              <p class="sheetcell" data-sheet-target="trackingDeathSaveFailure"></p>
              <p class="text-xs mx-2">FAILURES</p>
              <p class="text-xs mx-2 -mb-2 font-black">DEATH SAVES</p>
            </div>
        </div>
        <div class="flex gap-1 border-2 border-orange-300 rounded-sm text-center justify-center" id="attacklist">
          <div class="flex flex-col w-1/3">
            <p class="text-xs font-bold">NAME</p>
            <p class="sheetcell w-full"></p>
            <p class="sheetcell w-full"></p>
            <p class="sheetcell w-full"></p>
            <p class="sheetcell w-full"></p>
          </div>
          <div class="flex flex-col w-1/6">
            <p class="text-xs font-bold">BONUS</p>
            <p class="sheetcell w-full"></p>
            <p class="sheetcell w-full"></p>
            <p class="sheetcell w-full"></p>
            <p class="sheetcell w-full"></p>
          </div>
          <div class="flex flex-col w-1/3">
            <p class="text-xs font-bold">DAMAGE</p>
            <p class="sheetcell w-full"></p>
            <p class="sheetcell w-full"></p>
            <p class="sheetcell w-full"></p>
            <p class="sheetcell w-full"></p>
          </div>
        </div>
        <div class="w-full h-full bg-orange-100 font-light" id="featurestraits" data-sheet-target="featureList">
          <div class="flex flex-col align-end">
            <p class="font-black flex flex-col align-bottom text-xl">Features</p>
            <div data-sheet-target="raceFeatures"></div>
            <div data-sheet-target="subraceFeatures"></div>
            <div data-sheet-target="classFeatures"></div>
            <div data-sheet-target="subclassFeatures"></div>
            <div data-sheet-target="subclassFeaturesChoices"></div>
            <div data-sheet-target="backgroundFeatures"></div>
            <p class="font-black text-xl mt-2">Skills</p>
            <div class="flex gap-2" data-sheet-target="raceSkills"></div>
            <div class="flex gap-2" data-sheet-target="subraceSkills"></div>
            <div class="flex gap-2" data-sheet-target="classSkills"></div>
            <div class="flex gap-2" data-sheet-target="subclassSkills"></div>
            <div class="flex gap-2" data-sheet-target="backgroundSkills"></div>
            <div class="flex gap-2" data-sheet-target="featSkills"></div>
            <p class="font-black text-xl mt-2">Languages</p>
            <div class="flex gap-2" data-sheet-target="raceLanguages"></div>
            <div class="flex gap-2" data-sheet-target="subraceLanguages"></div>
            <div class="flex gap-2" data-sheet-target="classLanguages"></div>
            <div class="flex gap-2" data-sheet-target="subclassLanguages"></div>
            <div class="flex gap-2" data-sheet-target="backgroundLanguages"></div>
            <p class="font-black text-lg mt-2">Extra Languages</p>
            <div class="flex gap-2" data-sheet-target="extraLanguages"></div>
            <p class="font-black text-xl mt-2">Weapons</p>
            <div class="flex gap-2" data-sheet-target="raceWeapons"></div>
            <div class="flex gap-2" data-sheet-target="subraceWeapons"></div>
            <div class="flex gap-2" data-sheet-target="classWeapons"></div>
            <div class="flex gap-2" data-sheet-target="subclassWeapons"></div>
            <div class="flex gap-2" data-sheet-target="backgroundWeapons"></div>
            <p class="font-black text-xl mt-2">Armor</p>
            <div class="flex gap-2" data-sheet-target="raceArmor"></div>
            <div class="flex gap-2" data-sheet-target="subraceArmor"></div>
            <div class="flex gap-2" data-sheet-target="classArmor"></div>
            <div class="flex gap-2" data-sheet-target="subclassArmor"></div>
            <div class="flex gap-2" data-sheet-target="backgroundArmor"></div>
            <p class="font-black text-xl mt-2">Tools</p>
            <div class="flex gap-2" data-sheet-target="raceTools"></div>
            <div class="flex gap-2" data-sheet-target="subraceTools"></div>
            <div class="flex gap-2" data-sheet-target="classTools"></div>
            <div class="flex gap-2" data-sheet-target="subclassTools"></div>
            <div class="flex gap-2" data-sheet-target="backgroundTools"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full" id="pagetwo">
      <div class="flex gap-4 border-2 border-red-400 text-center" id="castingstats">
        <div class="tracking-box">
          <p class="sheetcell" data-sheet-target="castingAbility"></p>
          <p class="text-xs mx-2">SPELLCASTING ABILITY</p>
        </div>
        <div class="tracking-box">
          <p class="sheetcell" data-sheet-target="castingSaveDC"></p>
          <p class="text-xs mx-2">SPELL SAVE DC</p>
        </div>
        <div class="tracking-box">
          <p class="sheetcell" data-sheet-target="castingAttackBonus"></p>
          <p class="text-xs mx-2">SPELL ATTACK BONUS</p>
        </div>
      </div>
      <div class="flex flex-col text-center" id="spells">
        <h2 class="tracking-box">Spells</h2>
        <div class="flex flex-col" id="cantrips">
          <h4 class="font-bold text-sm">Cantrips</h4>
        </div>
        <div class="flex flex-col" id="spell1">
          <div class="flex justify-around">
            <h4 class="font-bold text-sm">1</h4>
            <div class="tracking-box">
              <p data-sheet-target="spellSlots1">0</p>
              <p>Spell Slots</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col" id="spell2">
          <div class="flex justify-around">
            <h4 class="font-bold text-sm">2</h4>
            <div class="tracking-box">
              <p data-sheet-target="spellSlots2">0</p>
              <p>Spell Slots</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col" id="spell3">
          <div class="flex justify-around">
            <h4 class="font-bold text-sm">3</h4>
            <div class="tracking-box">
              <p data-sheet-target="spellSlots3">0</p>
              <p>Spell Slots</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col" id="spell4">
          <div class="flex justify-around">
            <h4 class="font-bold text-sm">4</h4>
            <div class="tracking-box">
              <p data-sheet-target="spellSlots4">0</p>
              <p>Spell Slots</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col" id="spell5">
          <div class="flex justify-around">
            <h4 class="font-bold text-sm">5</h4>
            <div class="tracking-box">
              <p data-sheet-target="spellSlots5">0</p>
              <p>Spell Slots</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col" id="spell6">
          <div class="flex justify-around">
            <h4 class="font-bold text-sm">6</h4>
            <div class="tracking-box">
              <p data-sheet-target="spellSlots6">0</p>
              <p>Spell Slots</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col" id="spell7">
          <div class="flex justify-around">
            <h4 class="font-bold text-sm">7</h4>
            <div class="tracking-box">
              <p data-sheet-target="spellSlots7">0</p>
              <p>Spell Slots</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col" id="spell8">
          <div class="flex justify-around">
            <h4 class="font-bold text-sm">8</h4>
            <div class="tracking-box">
              <p data-sheet-target="spellSlots8">0</p>
              <p>Spell Slots</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col" id="spell9">
          <div class="flex justify-around">
            <h4 class="font-bold text-sm">9</h4>
            <div class="tracking-box">
              <p data-sheet-target="spellSlots9">0</p>
              <p>Spell Slots</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col text-center" id="tbif">
        <div class="tracking-box">
          <h4 class="font-bold font-sm">Personality Traits</h4>
        </div>
        <div class="tracking-box">
          <h4 class="font-bold font-sm">Bonds</h4>
        </div>
        <div class="tracking-box">
          <h4 class="font-bold font-sm">Ideals</h4>
        </div>
        <div class="tracking-box">
          <h4 class="font-bold font-sm">Flaws</h4>
        </div>
      </div>
      <div class="flex flex-col" id="equipment">
        <div class="flex text-center">
          <div class="tracking-box">
            <p class="sheetcell" data-sheet-target="equipGP"></p>
            <p class="text-xs mx-2">GP</p>
          </div>
          <div class="tracking-box">
            <p class="sheetcell" data-sheet-target="equipSP"></p>
            <p class="text-xs mx-2">SP</p>
          </div>
          <div class="tracking-box">
            <p class="sheetcell" data-sheet-target="equipCP"></p>
            <p class="text-xs mx-2">CP</p>
          </div>
        </div>
        <h4 class="font-bold">Weapons</h4>
        <h4 class="font-bold">Armor</h4>
        <div class="flex gap-2 items-center" data-sheet-target="equipArmor"></div>
        <h4 class="font-bold">Tools</h4>
        <h4 class="font-bold">Magical</h4>
        <h4 class="font-bold">Misc.</h4>
      </h4>
    </div>

    <dialog class="border border-black rounded-md bg-gray-300" data-controller="modal"  data-sheet-target="dialogLanguages">
      <p class="text-2xl font-bold">Languages</p>
        <ul data-sheet-target="languageModalList"></ul>
      <p class="font-black text-sm" data-sheet-target="langLimit"></p>
      <button class="px-8 py-2 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#submitLanguageChoices">Submit</button>
    </dialog>
    <dialog class="border border-black rounded-md bg-gray-300" data-controller="modal"  data-sheet-target="dialogClassSkills">
      <p class="text-2xl font-bold">Class Skills</p>
        <ul data-sheet-target="classSkillsModalList"></ul>
      <p class="font-black text-sm" data-sheet-target="classSkillsLimit"></p>
      <button class="px-8 py-2 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#submitClassSkillsChoices">Submit</button>
    </dialog>
    <dialog class="border border-black rounded-md bg-gray-300" data-controller="modal"  data-sheet-target="dialogTools">
      <p class="text-2xl font-bold">Racial Tools</p>
        <ul data-sheet-target="toolsModalList"></ul>
      <p class="font-black text-sm" data-sheet-target="toolsLimit"></p>
      <button class="px-8 py-2 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#submitToolsChoices">Submit</button>
    </dialog>
    <dialog class="border border-black rounded-md bg-gray-300" data-controller="modal"  data-sheet-target="dialogSubclassFeatures">
      <p class="text-2xl font-bold">Subclass Features</p>
        <ul data-sheet-target="subclassFeaturesModalList"></ul>
      <p class="font-black text-sm" data-sheet-target="subclassFeaturesLimit"></p>
      <button class="px-8 py-2 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#submitSubclassFeaturesChoices">Submit</button>
    </dialog>

  </section>
</div>