
<div data-controller="sheet">
  <div class="flex flex-col align-bottom gap-4">
    <h1 class="font-black text-4xl p-4 self-center">Creation</h1>

    <%#
      We just use the turbo_frame for conditional form select population, the sheet is handled with JS
    %>

    <%= turbo_frame_tag "form" do %>
      <%= form_tag creation_sheet_path, method: :get, data: { controller: "dropdown", action: "change->dropdown#submit", 'sheet-target': 'maindrop'}, class: "grid grid-cols-2 md:grid-cols-4 gap-4 px-4"  do %>
        <%= select_tag :race, options_from_collection_for_select(@races, "id", "name", @race&.id), prompt: "- Race -", data: { action: "change->sheet#categoryHandler", "sheet-url-param": "/races/" } %>
        <%= select_tag :subrace, options_from_collection_for_select(@subraces, "id", "name", @subrace&.id), prompt: "- Subrace -", data: { action: "change->sheet#categoryHandler", "sheet-url-param": "/subraces/" } %>
        <%= select_tag :player_class, options_from_collection_for_select(@player_classes, "id", "name", @player_class&.id), prompt: "- Class -", data: { action: "change->sheet#categoryHandler", "sheet-url-param": "/player_classes/"} %>
        <%= select_tag :subclass, options_from_collection_for_select(@subclasses, "id", "name", @subclass&.id), prompt: "- Subclass -", data: { action: "change->sheet#categoryHandler", "sheet-url-param": "/subclasses/"} %>
        <%= select_tag :background, options_from_collection_for_select(@backgrounds, "id", "name", @background&.id), prompt: "- Background -", data: { action: "change->sheet#categoryHandler", "sheet-url-param": "/backgrounds/"} %>
        <%= select_tag :level, options_for_select(@levels, @level), prompt: "- Level -", data: { "sheet-target": "charLevel", action: "change->sheet#categoryHandler" } %>
      <% end %>
    <% end %>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 p-4">
    <button class="px-4 py-2 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#randomStats">Random Stats</button>
    <button class="px-4 py-2 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#evenStats">Even Stats</button>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4 p-4" id="statbuttons">
    <button class="px-4 py-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showLangDialog" data-sheet-target="langButton">Extra Languages</button>
    <button class="px-4 py-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showClassSkillsDialog" data-sheet-target="classSkillsButton">Skills</button>
    <button class="px-4 py-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showClassFeaturesDialog" data-sheet-target="classFeaturesButton">Class Features</button>
    <button class="px-4 py-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showToolsDialog" data-sheet-target="toolsButton">Racial Tools</button>
    <button class="px-4 py-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showSubclassFeaturesDialog" data-sheet-target="subclassButton">Subclass Features</button>
    <button class="px-4 py-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showExtraSpellsDialog" data-sheet-target="extraSpellsButton">Extra Spells</button>
    <button class="px-4 py-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showASIDialog" data-sheet-target="asiButton">Ability Score Increase</button>
    <button class="px-4 py-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showSpecialtiesDialog" data-sheet-target="extraSpecialtiesButton">Special Features</button>
  </div>
  <section class="flex flex-col" id="sheet">
    <div class="grid grid-cols-2 md:grid-cols-3 pr-4 pl-2">
      <div class="flex flex-col gap-2 col-span-2 md:col-span-1" id="firstcolumn">

        <input type="text" placeholder="Character Name" class="sheetcell w-5/6 self-center" data-sheet-target="charName"></input>
        <p class="self-center" ><span class="sheetcell" data-sheet-target="profBonus"></span>Proficiency bonus</p>
        <p class="self-center"><span class="sheetcell" data-sheet-target="passPerception"></span>Passive Perception</p>

        <% for stat in @stats do %>
          <div class="flex align-center justify-center" id ="<%= stat[0] %>block">
            <div class="statframe">
              <div class="base-statbox">
                <div class="text-sm border border-black rounded-full" data-sheet-target="<%= stat[0] %>Base"></div>
                <div data-sheet-target="<%= stat[0] %>Mod"></div>
              </div>
              <p><%= stat[1].upcase %></p>
            </div>
            <div class="prof-list">
              <div class="prof-row">
                <div class="modifier-box" data-sheet-target="<%= stat[0] %>SavingThrowMod"></div>
                <p class="text-xs font-semibold text-center">Save</p>
                <div class="proficiency-box" data-sheet-target="<%= stat[0] %>SaveProf"></div>
              </div>
              <% for proficiency in stat[2] do %>
                <div class="prof-row">
                  <div class="modifier-box" data-sheet-target="<%= proficiency.downcase.gsub(/\s+/, "") %>Mod"></div>
                  <p class="text-xs font-semibold text-center"><%= proficiency %></p>
                  <div class="proficiency-box" data-sheet-target="<%= proficiency.downcase.gsub(/\s+/, "") %>Prof"></div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="flex flex-col bg-orange-100/50 font-light p-4 pb-6">
        <p class="font-black text-2xl mt-2 text-center">Skills</p>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="raceSkills"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="subraceSkills"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="classSkills"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="subclassSkills"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="backgroundSkills"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="featSkills"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="modSkills"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="expertiseSkills"></div>
            <p class="font-black text-2xl mt-2 text-center">Languages</p>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="raceLanguages"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="subraceLanguages"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="classLanguages"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="subclassLanguages"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="backgroundLanguages"></div>
            <p class="font-black text-2xl mt-2 text-center">Extra Languages</p>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="extraLanguages"></div>
            <p class="font-black text-2xl mt-2 text-center">Weapons</p>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="raceWeapons"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="subraceWeapons"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="classWeapons"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="subclassWeapons"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="backgroundWeapons"></div>
            <p class="font-black text-2xl mt-2 text-center">Armor</p>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="raceArmor"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="subraceArmor"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="classArmor"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="subclassArmor"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="backgroundArmor"></div>
            <p class="font-black text-2xl mt-2 text-center">Tools</p>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="raceTools"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="subraceTools"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="classTools"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="subclassTools"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="backgroundTools"></div>
            <p class="font-black text-2xl mt-2 text-center">Racial Stats</p>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="racialASIBonus"></div>
            <div class="grid grid-cols-2 gap-2" data-sheet-target="subraceASIBonus"></div>
        </div>

      </div>
      <div class="flex flex-col gap-2 col-span-2 justify" id="secondcolumn">
        <div class="flex flex-col p-2" id="about">
          <div class="grid grid-cols-2 md:grid-cols-4 justify-center gap-2">
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutClass"></p>
              <p class="text-xs mx-2">CLASS</p>
            </div>
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutSubclass"></p>
              <p class="text-xs mx-2">SUBCLASS</p>
            </div>
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutLevel"></p>
              <p class="text-xs mx-2">LEVEL</p>
            </div>
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutBackground"></p>
              <p class="text-xs mx-2">BACKGROUND</p>
            </div>
          </div>
          <div class="grid grid-cols-2 md:grid-cols-4 justify-center gap-2">
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutRace"></p>
              <p class="text-xs mx-2">RACE</p>
            </div>
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutSubrace"></p>
              <p class="text-xs mx-2">SUBRACE</p>
            </div>
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutAlignment"></p>
              <p class="text-xs mx-2">ALIGNMENT</p>
            </div>
            <div class="flex flex-col">
              <p class="sheetcell" data-sheet-target="aboutExperiencePoints"></p>
              <p class="text-xs mx-2">EXPERIENCE POINTS</p>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 justify-around p-2" id="substats">
          <div class="flex flex-col p-2 border-2 border-black rounded-lg min-w-1/6">
              <p class="sheetcell" data-sheet-target="substatAC"></p>
              <p class="text-xs mx-2">AC</p>
          </div>
          <div class="flex flex-col p-2 border-2 border-black rounded-lg min-w-1/6">
              <p class="sheetcell" data-sheet-target="substatInitiative"></p>
              <p class="text-xs mx-2">Initiative</p>
          </div>
          <div class="flex flex-col p-2 border-2 border-black rounded-lg min-w-1/6">
              <p class="sheetcell" data-sheet-target="substatSpeed"></p>
              <p class="text-xs mx-2">Speed</p>
          </div>
          <div class="flex flex-col p-2 border-2 border-black rounded-lg min-w-1/6">
              <p class="sheetcell" data-sheet-target="substatInspiration"></p>
              <p class="text-xs mx-2">Inspiration</p>
          </div>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-2 justify-center p-2" id="playtracking">
          <div class="flex flex-col p-2 border-2 border-black rounded-lg">
            <p class="sheetcell" data-sheet-target="trackingMaxHP"></p>
            <p class="text-xs mx-2">MAX HP</p>
            <p class="sheetcell" data-sheet-target="trackingCurrentHP"></p>
            <p class="text-xs mx-2">CURRENT HP</p>
          </div>
          <div class="flex flex-col justify-center p-2 border-2 border-black rounded-lg">
            <p class="sheetcell" data-sheet-target="trackingTemporaryHP"></p>
            <p class="text-xs mx-2">TEMPORARY HP</p>
          </div>
          <div class="flex flex-col justify-center p-2 border-2 border-black rounded-lg">
            <p class="sheetcell" data-sheet-target="trackingHitDice"></p>
            <p class="text-xs mx-2">HIT DICE</p>
          </div>
          <div class="flex flex-col p-2 border-2 border-black rounded-lg">
            <p class="sheetcell" data-sheet-target="trackingDeathSaveSuccess"></p>
            <p class="text-xs mx-2">SUCCESSES</p>
            <p class="sheetcell" data-sheet-target="trackingDeathSaveFailure"></p>
            <p class="text-xs mx-2">FAILURES</p>
            <p class="text-xs mx-2 -mb-2 font-black">DEATH SAVES</p>
          </div>
        </div>
        <div data-sheet-target="customPane" class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3"></div>
        <div class="flex flex-col gap-1  rounded-sm text-center justify-center" data-sheet-target="attackList">
          <div class="flex gap-1 p2 w-full">
            <p class="text-xs font-bold w-1/4">NAME</p>
            <p class="text-xs font-bold w-1/6">BONUS</p>
            <p class="text-xs font-bold w-1/4">DAMAGE</p>
            <p class="text-xs font-bold w-1/3">PROPERTIES</p>
          </div>
          <div class="flex gap-1 w-full">
            <div class="flex flex-col w-1/4" data-sheet-target="atkNames"></div>
            <div class="flex flex-col w-1/6" data-sheet-target="attackBonuses"></div>
            <div class="flex flex-col w-1/4" data-sheet-target="attackDamages"></div>
            <div class="flex flex-col w-1/3" data-sheet-target="attackProps"></div>
          </div>
        </div>
        <div class="w-full h-full bg-orange-100/50 font-light p-4 pb-6" id="featurestraits" data-sheet-target="featureList">
          <div class="flex flex-col align-end">
            <p class="font-black flex flex-col align-bottom text-2xl text-center">Features</p>
            <div data-sheet-target="raceFeatures"></div>
            <div data-sheet-target="subraceFeatures"></div>
            <div data-sheet-target="classFeatures"></div>
            <div data-sheet-target="classFeaturesChoices"></div>
            <div data-sheet-target="subclassFeatures"></div>
            <div data-sheet-target="subclassFeaturesChoices"></div>
            <div data-sheet-target="specialtyFeatures"></div>
            <div data-sheet-target="backgroundFeatures"></div>

          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center w-full" id="pagetwo">
      <h2 class="p-2 border-4 border-black rounded-lg m-2 col-span-full text-xl font-black text-center">Feature Spells</h2>
      <div class ="flex flex-col justify-center gap-2 p-2 w-full" data-sheet-target="specSpellsList"></div>
    </div>
    <div class="flex flex-col w-full -mt-4" id="pagethree">
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 text-center" id="spells">
        <h2 class="p-2 border-4 border-black rounded-lg m-2 col-span-full text-xl font-black">Class Spells ~ <span class="font-light text-sm"><span data-sheet-target="castingSpellLimit">0</span> known</span></h2>
        <div class="grid grid-cols-2 md:grid-cols-4 mx-8 gap-4 justify-center text-center col-span-full" id="castingstats">
          <div class="flex flex-col p-2 border-4 border-black rounded-lg">
            <p class="sheetcell" data-sheet-target="castingAbility"></p>
            <p class="text-xs mx-2">SPELLCASTING ABILITY</p>
          </div>
          <div class="flex flex-col p-2 border-4 border-black rounded-lg">
            <p class="sheetcell" data-sheet-target="castingSaveDC"></p>
            <p class="text-xs mx-2">SPELL SAVE DC</p>
          </div>
          <div class="flex flex-col p-2 border-4 border-black rounded-lg">
            <p class="sheetcell" data-sheet-target="castingAttackBonus"></p>
            <p class="text-xs mx-2">SPELL ATTACK BONUS</p>
          </div>
          <button class="px-8 py-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showSpellsDialog" data-sheet-target="spellsButton">Choose Spells</button>
        </div>
        <div class="flex flex-col col-span-full mt-4" id="cantrips">
          <div class="flex justify-center">
             <div class="flex flex-col gap-1">
              <h4 class="font-bold">Cantrips ~ <span class="font-light text-sm"><span data-sheet-target="castingCantripLimit">0</span> known</span></h4>
              <div class="flex flex-col gap-1 w-[80vw] mb-4" data-sheet-target="spellsTaken0"></div>
            </div>
          </div>
        </div>
        <% for i in 1..9  do %>
          <div class="flex flex-col" id="spell<%= i %>">
            <div class="flex justify-center w-full px-2">
              <div class="flex flex-col p-2 gap-1">
                <h4 class="font-bold">Level <%= i %> Spells ~ <span class="font-light text-sm"><span data-sheet-target="spellSlots<%= i %>">0</span> slots</span></h4>
                <div class="flex flex-col gap-1 mb-4" data-sheet-target="spellsTaken<%= i %>"></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 w-full p-2">
        <div class="flex flex-col text-center" id="tbif">
          <button class="px-8 py-2 mx-4 mb-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showTBIFDialog" data-sheet-target="tbifButton">Personality</button>
          <div class="flex flex-col p-2 border-2 border-black rounded-lg">
            <h4 class="font-bold font-sm">Personality Traits</h4>
            <div class="p-2 bg-gray-100 rounded-lg text-center" data-sheet-target="tbifTraits"></div>
          </div>
          <div class="flex flex-col p-2 border-2 border-black rounded-lg">
            <h4 class="font-bold font-sm">Bonds</h4>
            <div class="p-2 bg-gray-100 rounded-lg text-center" data-sheet-target="tbifBonds"></div>
          </div>
          <div class="flex flex-col p-2 border-2 border-black rounded-lg">
            <h4 class="font-bold font-sm">Ideals</h4>
            <div class="p-2 bg-gray-100 rounded-lg text-center" data-sheet-target="tbifIdeals"></div>
          </div>
          <div class="flex flex-col p-2 border-2 border-black rounded-lg">
            <h4 class="font-bold font-sm">Flaws</h4>
            <div class="p-2 bg-gray-100 rounded-lg text-center" data-sheet-target="tbifFlaws"></div>
          </div>
        </div>

        <div class="flex flex-col" id="equipment">
          <button class="px-8 py-2 mx-4 mb-2 rounded-lg bg-orange-300 border-b-2 border-r-2" data-action="sheet#showEquipmentDialog" data-sheet-target="equipmentButton">Starting Equipment</button>
           <div class="flex justify-evenly text-center">
            <div class="flex flex-col p-2 border-2 border-black rounded-lg w-1/6">
              <p class="sheetcell" data-sheet-target="equipGP"></p>
              <p class="text-xs mx-2">GP</p>
            </div>
            <div class="flex flex-col p-2 border-2 border-black rounded-lg w-1/6">
              <p class="sheetcell" data-sheet-target="equipSP"></p>
              <p class="text-xs mx-2">SP</p>
            </div>
            <div class="flex flex-col p-2 border-2 border-black rounded-lg w-1/6">
              <p class="sheetcell" data-sheet-target="equipCP"></p>
              <p class="text-xs mx-2">CP</p>
            </div>
          </div>
          <h4 class="font-bold text-center">Weapons</h4>
          <div class="flex gap-4 justify-center" data-sheet-target="equipWeapons"></div>
          <h4 class="font-bold text-center">Armor</h4>
          <div class="flex gap-4 justify-center" data-sheet-target="equipArmor"></div>
          <h4 class="font-bold text-center">Tools</h4>
          <div class="flex gap-4 justify-center" data-sheet-target="equipTools"></div>
          <h4 class="font-bold text-center">Equipment</h4>
          <div class="flex gap-4 justify-center" data-sheet-target="equipEquipment"></div>
        </div>
      </div>
    </div>

    <% for modal in @modals do %>
      <dialog class="border border-black rounded-md bg-gray-300" data-controller="modal" data-sheet-target="dialog<%= modal.gsub(/\s+/, "") %>">
        <p class="text-3xl font-black"><%= modal %></p>
        <% if (modal == 'Traits') %>
          <div class="grid grid-cols-2 lg:grid-cols-4 gap-2" data-sheet-target="<%= modal.downcase.gsub(/\s+/, "") %>ModalList"></div>
        <% else %>
          <div class="grid grid-cols-2 md:grid-cols-3 gap-2" data-sheet-target="<%= modal.downcase.gsub(/\s+/, "") %>ModalList"></div>
        <% end %>
        <button class="px-8 py-2 mt-4 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#submit<%= modal.gsub(/\s+/, "") %>Choices">Submit</button>
      </dialog>
    <% end %>
    <dialog class="border border-black rounded-md bg-gray-300" data-controller="modal" data-sheet-target="dialogClassSkills">
      <p class="text-3xl font-black w-full text-center">Skills</p>
      <p class="text-xl font-bold">Class Skills</p>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-2" data-sheet-target="classSkillsModalList"></div>
      <p class="text-xl font-bold" id="extraSkillsLabel">Extra Skills</p>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-2" data-sheet-target="extraSkillsModalList"></div>
      <button class="px-8 py-2 mt-4 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#submitClassSkillsChoices">Submit</button>
    </dialog>
    <dialog class="border border-black rounded-md bg-gray-300" data-controller="modal" data-sheet-target="dialogASI">
      <p class="text-3xl font-black">Ability Score Increases</p>
        <div data-sheet-target="asiModalList"></div>
        <div data-sheet-target="customASI"></div>
      <button class="px-8 py-2 mt-4 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#submitASIChoices">Submit</button>
    </dialog>
    <dialog class="border border-black rounded-md bg-gray-300" data-controller="modal" data-sheet-target="dialogSpells">
      <p class="text-3xl font-black">Spells</p>
      <h4 class="col-span-full font-black text-lg">Cantrips <span class="text-sm" data-sheet-target="cantripLimit"></span></h4>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-2" data-sheet-target="cantripsModalList"></div>
      <h4 class="col-span-full font-black text-lg">Spells <span class="text-sm" data-sheet-target="spellsLimit"></span></h4>
      <div class="grid grid-cols-2 md:grid-cols-3 gap-2" data-sheet-target="spellsModalList"></div>
      <button class="px-8 py-2 mt-4 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#submitSpellsChoices">Submit</button>
    </dialog>
    <dialog class="border border-black rounded-md bg-gray-300" data-controller="modal" data-sheet-target="dialogExtraSpells">
      <p class="text-3xl font-black">Extra Spells</p>
        <div data-sheet-target="extraSpellsModalList"></div>
      <p class="font-black text-sm" data-sheet-target="extraSpellsLimit"></p>
      <button class="px-8 py-2 mt-4 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#submitExtraSpellsChoices">Submit</button>
    </dialog>
    <dialog class="border border-black rounded-md bg-gray-300" data-controller="modal" data-sheet-target="dialogEquipment">
      <p class="text-3xl font-black">Starting Equipment</p>
        <div data-sheet-target="equipmentModalList">
          <div class="flex flex-col gap-4 items-center">
            <div class="flex flex-col items-center justify-center gap-2 bg-gray-200 rounded-lg" data-sheet-target="equipmentClassStart">
            </div>
            <div class="flex flex-col items-center justify-center gap-2 bg-gray-200 rounded-lg" data-sheet-target="equipmentBGStart">
            </div>
          </div>
        </div>
      <button class="px-8 py-2 mt-4 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#submitEquipmentChoices">Submit</button>
    </dialog>

    <dialog class="border border-black rounded-md bg-gray-300" data-controller="modal" data-sheet-target="dialogSpecialties">
      <p class="text-3xl font-black">Class Specialties</p>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-2 items-start" data-sheet-target="specialtiesModalList"></div>
      <button class="px-8 py-2 mt-4 rounded-lg bg-blue-400 border-b-2 border-r-2" data-action="sheet#submitSpecialties">Submit</button>
    </dialog>
  </section>
</div>