<%= form_with(model: character, class: "contents") do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
        <% character.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :race_id %>
    <%= form.number_field :race_id, class: "formfield formid" %>
  </div>

  <div class="my-5">
    <%= form.label :player_class_id %>
    <%= form.number_field :player_class_id, class: "formfield formid" %>
  </div>

  <div class="my-5">
    <%= form.label :background_id %>
    <%= form.number_field :background_id, class: "formfield formid" %>
  </div>

  <div class="my-5">
    <%= form.label :feat_id %>
    <%= form.number_field :feat_id, class: "formfield formid" %>
  </div>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, class: "formfield formid" %>
  </div>

  <div class="my-5">
    <%= form.label :player_name %>
    <%= form.text_field :player_name, class: "formfield formentry" %>
  </div>

  <div class="my-5">
    <%= form.label :char_name %>
    <%= form.text_field :char_name, class: "formfield formentry" %>
  </div>

  <div class="my-5">
    <%= form.label :age %>
    <%= form.text_field :age, class: "formfield formentry" %>
  </div>

  <div class="my-5">
    <%= form.label :height %>
    <%= form.text_field :height, class: "formfield formentry" %>
  </div>

  <div class="my-5">
    <%= form.label :eyes %>
    <%= form.text_field :eyes, class: "formfield formentry" %>
  </div>

  <div class="my-5">
    <%= form.label :hair %>
    <%= form.text_field :hair, class: "formfield formentry" %>
  </div>

  <div class="my-5">
    <%= form.label :skin %>
    <%= form.text_field :skin, class: "formfield formentry" %>
  </div>

  <div class="my-5">
    <%= form.label :gender %>
    <%= form.text_field :gender, class: "formfield formentry" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: "formfield formentry" %>
  </div>

  <div class="my-5">
    <%= form.label :languages %>
    <%= form.text_field :languages, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :weapon_prof %>
    <%= form.text_field :weapon_prof, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :armor_prof %>
    <%= form.text_field :armor_prof, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :tool_prof %>
    <%= form.text_field :tool_prof, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :skill_prof %>
    <%= form.text_field :skill_prof, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :expertise %>
    <%= form.text_field :expertise, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :size %>
    <%= form.text_field :size, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :speed %>
    <%= form.number_field :speed, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :hp_max %>
    <%= form.number_field :hp_max, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :equipment %>
    <%= form.text_field :equipment, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :gold %>
    <%= form.number_field :gold, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :silver %>
    <%= form.number_field :silver, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :copper %>
    <%= form.number_field :copper, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :spells %>
    <%= form.text_field :spells, class: "formfield formselect" %>
  </div>

  <div class="my-5">
    <%= form.label :spell_slots %>
    <%= form.number_field :spell_slots, class: "formfield formcalc" %>
  </div>

  <div class="my-5">
    <%= form.label :trait %>
    <%= form.text_field :trait, class: "formfield formselect" %>
  </div>

  <div class="my-5">
    <%= form.label :ideal %>
    <%= form.text_field :ideal, class: "formfield formselect" %>
  </div>

  <div class="my-5">
    <%= form.label :bond %>
    <%= form.text_field :bond, class: "formfield formselect" %>
  </div>

  <div class="my-5">
    <%= form.label :flaw %>
    <%= form.text_field :flaw, class: "formfield formselect" %>
  </div>

  <div class="my-5">
    <%= form.label :bkgd_specialty %>
    <%= form.text_field :bkgd_specialty, class: "formfield formselect" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
