<!DOCTYPE html>
<html>
  <head>
    <title>Dnd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cormorant+Garamond:wght@400;500;600;700&family=EB+Garamond:wght@400;500;600;700;800&family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Tinos:wght@400;700&display=swap" rel="stylesheet">
  
    <%= yield(:head_tags) %>
  </head>

   <% if notice %>
    <div class="flex flex-row absolute left-10 bottom-10">
      <%= render 'layouts/notice' %>
    </div>
  <% end %>
  
  <% if alert %>
    <div class="flex flex-row absolute left-10 bottom-10">
      <%= render 'layouts/alert' %>
    </div>
  <% end %>

  <body>
    <main class="w-[100vw] bg-gray-200 font-inter">
      <%= yield %>
    </main>
  </body>
</html>
